{% extends 'base.html.twig' %}

{% set footer = true %}

{% block content %}
    <div id="frame-container" class="experiences">
        <div id="frame-1" class="frame" data-frame-id="1">
            <div class="frame-indicator px-3 py-3">
                <span class="indicator my-auto">01</span>
            </div>

            <div class="frame-content w-100">
                <div class="padding-top-navbar"></div>
                <div class="info-case info-case-center mt-3">
                    <span class="info-date">2023</span>
                    <span class="info-name">Stage en entreprise</span>
                    <span class="info-details">Pierredeplan</span>
                </div>
                <div class="my-3 my-md-5 missions">
                    <span class="neon-magenta py-md-5">Mes missions</span>
                    <div class="carrousel d-flex flex-row w-100">
                        <img id="missions-1" class="carrousel-element" src="{{ asset('assets/images/experiences/missions/mission-1.svg') }}" alt=""/>
                        <img id="missions-2" class="carrousel-element" src="{{ asset('assets/images/experiences/missions/mission-2.svg') }}" alt=""/>
                        <img id="missions-3" class="carrousel-element" src="{{ asset('assets/images/experiences/missions/mission-3.svg') }}" alt=""/>
                        <img id="missions-4" class="carrousel-element" src="{{ asset('assets/images/experiences/missions/mission-4.svg') }}" alt=""/>
                    </div>
                </div>
                <div class="d-flex flex-column mt-4 mt-md-0 pb-4 px-5">
                    <p class="little-justify" style="font-weight: 550; font-size: 18px; color: #FFFFFF">Au cours de ce stage de deux mois, j’ai eu l’opportunité de travailler au sein du service marketing et d'approfondir mes connaissances en matière d'analyse de marché, de marketing numérique et de marketing stratégique. J’ai également pu découvrir les différents produits et marques de l’entreprise, ainsi que les enjeux d'une entreprise avec un positionnement haut de gamme.</p>
                    <span class="scroll-button mx-auto my-3">Scroll</span>
                </div>
            </div>
        </div>

        <div id="frame-2" class="frame" data-frame-id="2">
            <div class="frame-content w-100">
                <div class="inside d-flex flex-row">
                    <div class="frame-indicator px-3 py-3">
                        <span class="indicator my-auto">02</span>
                    </div>

                    <div class="d-flex flex-column w-100 my-5">
                        <div class="info-case info-case-center mt-3">
                            <span class="info-date">2022</span>
                            <span class="info-name">Stage en entreprise</span>
                            <span class="info-details">Inside group</span>
                        </div>
                        <div class="d-md-flex flex-md-row my-auto py-5">
                            <div class="col-md-5 d-flex flex-row md-border-right">
                                <img class="mx-auto" src="{{ asset('assets/images/experiences/inside/logo.svg') }}" alt=""/>
                            </div>
                            <div class="col-md-7 d-flex flex-column">
                                <p class="little-justify my-auto" style="font-weight: 550; font-size: 18px; color: #FFFFFF; margin-left: 60px; margin-right: 60px">En février 2022, j'ai réalisé mon stage de 1 mois chez InsideGroup où j'ai acquis une grande rigueur professionnelle. Mon maître de stage m'a dépeint comme étant appliqué et autonome.</p>
                            </div>
                        </div>
                        <span class="scroll-button mx-auto my-3">Scroll</span>
                    </div>
                </div>
                <div class="actions d-md-flex flex-md-row py-5 px-3">
                    <div class="col-md-6 d-flex flex-column">
                        <span class="neon-magenta mx-auto text-center mb-5">ÉTUDE DE MARCHÉ</span>

                        <div class="py-5 mx-2 mx-md-5 tasks d-flex flex-column flex-md-row flex-md-wrap my-md-auto">
                            <div class="col-xxl-4 col-lg-6 px-3 mx-auto py-3">
                                <div class="d-flex flex-column">
                                    <p>
                                        Identifier les concurrents
                                    </p>
                                    <img class="mx-auto my-auto" alt="" src="{{ asset('assets/images/experiences/inside/tasks/1.svg') }}"/>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-lg-6 px-3 mx-auto py-3">
                                <div class="d-flex flex-column flex-lg-column-reverse">
                                    <p>
                                        Analyser les produits et services et les caractéristiques des concurrents
                                    </p>
                                    <img class="mx-auto my-auto" alt="" src="{{ asset('assets/images/experiences/inside/tasks/2.svg') }}"/>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-lg-6 px-3 mx-auto py-3">
                                <div class="d-flex flex-column">
                                    <p>
                                        Mettre en évidence les principaux concurrents et leurs caractéristiques
                                    </p>
                                    <img class="mx-auto my-auto" alt="" src="{{ asset('assets/images/experiences/inside/tasks/3.svg') }}"/>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-lg-6 px-3 mx-auto py-3">
                                <div class="d-flex flex-column flex-lg-column-reverse">
                                    <p>
                                        Mettre en forme les données brutes sur Excel
                                    </p>
                                    <img class="mx-auto my-auto" alt="" src="{{ asset('assets/images/experiences/inside/tasks/4.svg') }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex flex-column">
                        <span class="neon-magenta mx-auto text-center mb-5">BENCHMARKING</span>

                        <div class="py-5 mx-2 mx-md-5 tasks d-flex flex-column flex-md-row flex-md-wrap my-md-auto">
                            <div class="col-xxl-4 col-lg-6 px-3 mx-auto py-3">
                                <div class="d-flex flex-column">
                                    <p>
                                        Identifier les concurrents qui proposent des services de communication
                                    </p>
                                    <img class="mx-auto my-auto" alt="" src="{{ asset('assets/images/experiences/inside/tasks/5.svg') }}"/>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-lg-6 px-3 mx-auto py-3">
                                <div class="d-flex flex-column flex-lg-column-reverse">
                                    <p>
                                        Lister les prestations proposées et leurs prix sur Excel
                                    </p>
                                    <img class="mx-auto my-auto" alt="" src="{{ asset('assets/images/experiences/inside/tasks/6.svg') }}"/>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-lg-6 px-3 mx-auto py-3">
                                <div class="d-flex flex-column">
                                    <p>
                                        Mettre en forme les données brutes sur Excel
                                    </p>
                                    <img class="mx-auto my-auto" alt="" src="{{ asset('assets/images/experiences/inside/tasks/7.svg') }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="diapo py-5 px-3 d-flex flex-column">
                    <span class="neon-magenta mx-auto text-center">REFONTE DE DIAPORAMA</span>

                    <div class="py-5 my-auto">
                        <div class="carrousel d-flex flex-row w-100">
                            <img id="missions-1" class="carrousel-element" src="{{ asset('assets/images/experiences/inside/diapo/1.svg') }}" alt=""/>
                            <img id="missions-2" class="carrousel-element" src="{{ asset('assets/images/experiences/inside/diapo/2.svg') }}" alt=""/>
                            <img id="missions-3" class="carrousel-element" src="{{ asset('assets/images/experiences/inside/diapo/3.svg') }}" alt=""/>
                            <img id="missions-4" class="carrousel-element" src="{{ asset('assets/images/experiences/inside/diapo/4.svg') }}" alt=""/>
                        </div>
                    </div>

                    <span class="scroll-button mx-auto my-3">Scroll</span>
                </div>
            </div>
        </div>

        <div id="frame-3" class="frame" data-frame-id="3">
            <div class="frame-indicator px-3 py-3">
                <span class="indicator my-auto">03</span>
            </div>

            <div class="frame-content w-100 mt-5">
                <div class="info-case info-case-center mt-3">
                    <span class="info-date">2020 - 2022</span>
                    <span class="info-name">Travail étudiant</span>
                    <span class="info-details">E.Leclerc <img width="40px" alt="" src="{{ asset('assets/images/experiences/leclerc/leclerc.svg') }}"/></span>
                </div>
                <div class="mx-5 my-5 d-flex flex-row flex-wrap">
                    <div class="col-12 col-md-4 my-md-auto">
                        <img class="post-leclerc mx-auto my-3" alt="" src="{{ asset('assets/images/experiences/leclerc/post-leclerc.svg') }}"/>
                    </div>
                    <div class="tasks col-md-8 d-flex flex-column flex-md-row flex-md-wrap my-md-auto">
                        <div class="col-xxl-3 col-md-6 px-3">
                            <div class="d-flex flex-column">
                                <p>
                                    Développement de compétences en communication et en service client en travaillant avec des clients de différentes horizons.
                                </p>
                                <img class="mx-auto my-auto" alt="" src="{{ asset('assets/images/experiences/leclerc/1.svg') }}"/>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-6 px-3">
                            <div class="d-flex flex-column flex-md-column-reverse">
                                <p>
                                    Apprendre à travailler éfficacement en équipe en collaborant avec les collègues pour résoudre des problèmes et maintenir un environement de travail agréable et productif.
                                </p>
                                <img class="mx-auto my-auto" alt="" src="{{ asset('assets/images/experiences/leclerc/2.svg') }}"/>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-6 px-3">
                            <div class="d-flex flex-column">
                                <p>
                                    Gagner en autonomie et en responsabilité en s'impliquant dans les processus de vente et de gestion des stocks.
                                </p>
                                <img class="mx-auto my-auto" alt="" src="{{ asset('assets/images/experiences/leclerc/3.svg') }}"/>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-6 px-3">
                            <div class="d-flex flex-column flex-md-column-reverse">
                                <p>
                                    Mieux comprendre les enjeux du commerce et se familiariser avec les méthodes de vente et de marketing utilisées dans les grandes surfaces.
                                </p>
                                <img class="mx-auto my-auto" alt="" src="{{ asset('assets/images/experiences/leclerc/4.svg') }}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}