<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{ asset('favico.ico') }}">
        <title>Portfolio MD</title>

        <link href="{{ asset("assets/css/bootstrap.min.css") }}" rel="stylesheet">
        <link href="{{ asset("assets/css/app.css") }}" rel="stylesheet">
    </head>
    <body>
        <!-- Must define this dict in order to generate header and footer -->
         {% set navigationRoutes = {
             'app_home': 'Accueil',
             'app_formation': 'Formation',
             'app_projects': 'Projets Entrepreneuriaux',
             'app_experience': 'Expérience Professionelle',
             'app_interests': 'Centres d\'intérêts',
             'app_skills': 'Compétences',
             'app_recommandations': 'Recommandations'
         } %}

        <header>
            {% include 'partials/header.html.twig' %}
        </header>

        <main class="d-flex flex-column">
            {% block content %} {% endblock %}
        </main>

        {% if footer is defined and footer %}
            {% include 'partials/footer.html.twig' %}
        {% endif %}

        <script>
            const ROUTES = {
                'app_home': '{{ path('app_home') }}',
                'app_formation': '{{ path('app_formation') }}',
                'app_projects': '{{ path('app_projects') }}',
                'app_experience': '{{ path('app_experience') }}',
                'app_interests': '{{ path('app_interests') }}',
                'app_skills': '{{ path('app_skills') }}',
                'app_contact': '{{ path('app_contact') }}',
                'app_recommandations': '{{ path('app_recommandations') }}'
            }
        </script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://kit.fontawesome.com/ac8a9b7e7f.js" crossorigin="anonymous"></script>
        <script src="{{ asset("assets/js/bootstrap.bundle.min.js") }}"></script>
        <script src="{{ asset("assets/js/app.js") }}"></script>
    </body>
</html>
